@{
    ViewBag.Title = "Index";
    Layout = "~/Shared/_Layout1.cshtml";
}

<script>

            /*
            str: 0,
            dex: 0,
            con: 0,
            int: 0,
            wis: 0,
            cha: 0,
            strMod: 0,
            dexMod: 0,
            conMod: 0,
            intMod: 0,
            wisMod: 0,
            chaMod: 0,
            savingThrows:[
                { type: "str", has: true, val: 0 },
                { type: "dex", has: false, val: 0 },
                { type: "con", has: true, val: 0 },
                { type: "int", has: false, val: 0 },
                { type: "wis", has: false, val: 0 },
                { type: "cha", has: false, val: 0 },
            ],
            skills: [
                { type: "Acrobatics(Dex)", has: false, val: 0 },
                { type: "Animal Handling(Wis)", has: false, val: 0 },
                { type: "Arcana(Int)", has: false, val: 0 },
                { type: "Athletics(Str)", has: true, val: 0 },
                { type: "Deception(Cha)", has: false, val: 0 },
                { type: "History(Int)", has: false, val: 0 },
                { type: "Insight(Wis)", has: false, val: 0 },
                { type: "Intimidation(Cha)", has: true, val: 0 },
                { type: "Investigation(Int)", has: false, val: 0 },
                { type: "Medicine(Wis)", has: false, val: 0 },
                { type: "Nature(Int)", has: false, val: 0 },
                { type: "Perception(Wis)", has: true, val: 0 },
                { type: "Performance(Cha)", has: false, val: 0 },
                { type: "Persuation(Cha)", has: false, val: 0 },
                { type: "Religion(Int)", has: false, val: 0 },
                { type: "Sleight of Hand(Dex)", has: false, val: 0 },
                { type: "Stealth(Dex)", has: false, val: 0 },
                { type: "Survival(Wis)", has: false, val: 0 },
            ],
            passiveWisdom: 0
            */
    $(document).ready(function () {
    /*
KNOCKOUT JS CODE
    */

    var expTable = [
        {level: 1, exp: 0, proficiencyBonus: 2},
        {level: 2, exp: 300 , proficiencyBonus: 2},
        {level: 3, exp: 900 , proficiencyBonus: 2},
        {level: 4, exp: 2700, proficiencyBonus: 2},
        {level: 5, exp: 6500, proficiencyBonus: 3},
        {level: 6, exp: 14000, proficiencyBonus: 3},
        {level: 7, exp: 23000, proficiencyBonus: 3},
        {level: 8, exp: 34000, proficiencyBonus: 3},
        {level: 9, exp: 48000, proficiencyBonus: 4},
        {level: 10, exp: 64000, proficiencyBonus: 4},
        {level: 11, exp: 85000, proficiencyBonus: 4},
        {level: 12, exp: 100000, proficiencyBonus: 4},
        {level: 13, exp: 120000, proficiencyBonus: 5},
        {level: 14, exp: 140000, proficiencyBonus: 5},
        {level: 15, exp: 165000, proficiencyBonus: 5},
        {level: 16, exp: 195000, proficiencyBonus: 5},
        {level: 17, exp: 225000, proficiencyBonus: 6},
        {level: 18, exp: 265000, proficiencyBonus: 6},
        {level: 19, exp: 305000, proficiencyBonus: 6},
        {level: 20, exp: 355000, proficiencyBonus: 6},
    ];

    var initialData = [
        {
            id: 0,
            pcName: "David E",
            curHp: 25,
            hp: 25,
            name: "Alton Brown",
            playerClass: "Barbarian",
            level: 1,
            background: "Soldier",
            race: "Stout Halfling",
            Alignment: "Lawful Good",
            exp: 831,
            inspiration: 0,
            proficiencyBonus: 0,
        },
        {
            id: 1,
            pcName: "Nick C",
            hp: 22,
            curHp: 22,
            name: "Torrash Noraxius",
            playerClass: "Paladin",
            level: 1,
            background: "Noble",
            race: "Dragonborn",
            Alignment: "Lawful Good",
            exp: 831,
            inspiration: 0,
            proficiencyBonus: 0
        },
        {
            id: 3,
            pcName: "Rachel O",
            hp: 14,
            curHp: 14,
            name: "Gwynevyr Meliamne",
            playerClass: "Ranger",
            level: 1,
            background: "Outlander",
            race: "Wood Elf",
            Alignment: "Chaotic Good",
            exp: 831,
            inspiration: 0,
            proficiencyBonus: 0
        },
        {
            id: 4,
            pcName: "Cesar B",
            hp: 14,
            curHp: 14,
            name: "Grifith Hornraven (Whiteraven)",
            playerClass: "Bard",
            level: 1,
            background: "Charloten",
            race: "Human",
            Alignment: "Chaotic Neutral",
            exp: 831,
            inspiration: 0,
            proficiencyBonus: 0
        },
        {
            id: 5,
            pcName: "Alex L",
            hp: 10,
            curHp: 10,
            name: "Nala The Lightningator",
            playerClass: "Fighter",
            level: 1,
            background: "Outlander",
            race: "Dragonborn",
            Alignment: "Neutral",
            exp: 164,
            inspiration: 0,
            proficiencyBonus: 0
        }

    ];

    var PCModel = function (pcs) {
        var self = this;

        self.pcsList = ko.observableArray(ko.utils.arrayMap(pcs, function (pc) {
            return {
                //id
                id: pc.id,
                //hp
                obCurHp: ko.observable(pc.curHp), obMaxHp: ko.observable(pc.hp), hpBoolPlus: ko.observable(false), hpModAmt: ko.observable(0),
                //exp
                level: ko.observable(pc.level), exp: ko.observable(pc.exp), expText: ko.observable(0), expModAmt: ko.observable(0),

                //general info
                pcName: pc.pcName, name: pc.name, playerClass: pc.playerClass, background: pc.background, race: pc.race, Alignment: pc.Alignment,
                inspiration: pc.inspiration, proficiencyBonus: pc.proficiencyBonus, notes: ""

            };
        }));

        //start of hp handling
        self.getHpPercentage = function (pc) {
            var hpRound = Math.round((pc.obCurHp() / pc.obMaxHp()) * 100);
            return hpRound;
        };

        self.hpClass = function (pc) {
            var hp = self.getHpPercentage(pc);
            if (hp >= 70) {
                return 'progress-bar-success';
            } else if (hp < 70 && hp >= 30) {
                return 'progress-bar-warning';
            } else if (hp < 30) {
                return 'progress-bar-danger';
            }
        };

        self.hpModeToggle = function (data, event) {
            if ($(event.currentTarget).val() == "+") {
                $(event.currentTarget).val("-");
                $(event.currentTarget).addClass("btn-danger");
                $(event.currentTarget).removeClass("btn-success");
                data.hpBoolPlus(false);
            }
            else {
                $(event.currentTarget).val("+");
                $(event.currentTarget).removeClass("btn-danger");
                $(event.currentTarget).addClass("btn-success");
                data.hpBoolPlus(true);
            }
        };

        self.hpModClick = function (data, event) {
            if (data.hpBoolPlus() == false)
                var newHp = parseInt(data.obCurHp()) - parseInt(data.hpModAmt());
            else
                var newHp = parseInt(data.obCurHp()) + parseInt(data.hpModAmt());

            if (newHp < 0)
                newHp = 0;
            else if (newHp > data.obMaxHp())
                newHp = data.obMaxHp();

            data.obCurHp(newHp);
        };
        //end of hp handling

        //start of exp handling
        self.getExpPercentage = function(pc){
            //get correct level by going through the table
            var exp = pc.exp();
            var x = 0;
            var found = false;
            for(i = 0; i < expTable.length; i++)
            {
                if(exp < expTable[i].exp)
                {
                    x = i;
                    found = true;
                    break;
                }
            }
            if(found){
            var level = expTable[x-1].level;
            pc.level(level);

            //get any remaining exp and make that the exp in the bar.
            var maxExp = expTable[x].exp;

            pc.expText((exp - expTable[x-1].exp) + '/' + (maxExp - expTable[x-1].exp));

            return Math.round(((exp - expTable[x-1].exp)/(maxExp - expTable[x-1].exp))*100);
            }
            else{
                pc.level(20);
                pc.expText("0/0");
                return 100;
            }
        };

        self.expModClick = function(data, event){
            var oldExp = data.exp();
            var newExp = data.exp();

            newExp += parseInt(eval(data.expModAmt()));
            if(newExp < 0)
                newExp = 0;

            if(newExp > oldExp){
                var expDiff = parseInt(newExp) - parseInt(oldExp);
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-bottom-left",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                Command: toastr["success"](data.name + " - Gained: " + expDiff + "exp", "Exp Gained!");
            }
            data.exp(newExp);
        };

    };

    ko.applyBindings(new PCModel(initialData));
});
</script>
<!--left paged div-->
<div style="margin-left:10px; float:left; width: 30vw;">
    <div class="form-group">
        <label for="notes">Notes:</label>

        <textarea class="form-control" rows="12" id="notes" style="max-width: 100%;"></textarea>
    </div>

    <div style="width: 100%; height: 200px; border: solid lightgray 1px; border-radius: 4px; overflow:auto;">
        <table style="float:left;">
            <thead>
                <tr>
                    <td>Amount</td>
                    <td></td>
                    <td>Num Faces</td>
                    <td>Modifier</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input id="inAmt" style="width:70px" class="form-control" value="1" />
                    </td>
                    <td><h4>d</h4></td>
                    <td>
                        <input id="inNFace" style="width:70px" class="form-control" value="6" />
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <input type="button" class="btn btn-success" id="btnToggleMod" value="+" style="width: 35px; font-weight:900;" />
                            </span>
                            <input id="inMod" style="width:70px" type="text" class="form-control" value="0">
                        </div>
                    </td>
                </tr>
                <tr>
                    <!--roll button and result-->
                    <td colspan="4" style="text-align:center">
                        <div style="display: inline-block; padding-top:15px;">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <input type="button" class="btn btn-default" id="btnRoll" value="Roll" />
                                </span>
                                <input id="inResult" style="width:100px; background-color:white;" type="text" class="form-control" readonly="readonly">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align:center">
                        <div style="display: inline-block; padding-top:15px;">
                            <input type="button" class="btn btn-default" id="btnClear" value="Clear" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="width: 35%; float: right; height: 90%; margin: 10px; overflow:hidden;">
            <textarea style="width:100%; height:100%; resize:none; background-color:white;" class="form-control" id="taResults" readonly="readonly"></textarea>
        </div>
    </div>
</div>

<!--right paged div-->
<div style="float:right; margin-top:25px; width: 65vw;">
    <div class="container">
        <ul class="nav nav-tabs" id="sortable" data-bind="foreach: pcsList">

            <li data-bind="css: {active: $index() == 0 }">
                <a data-bind="attr: {href: '#tab' + id}, text: pcName" data-toggle="tab"></a>
            </li>
        </ul>
        <!--player container-->
        <div class="container-border-cup">
            <div class="tab-content " data-bind="foreach: pcsList">
                <div class="tab-pane tabbed-content-style" style="padding-right:10px" data-bind="attr: {id: 'tab' + id}, css: {active: $index() == 0 }">
                    <!--player details-->
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <h3 data-bind="text: name"></h3>
                            </td>
                            <td style="float: right; margin-top: 20px;">
                                <h4 data-bind="text: background"></h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 data-bind="text: race + ' ' + playerClass"></h4>
                            </td>
                            <td style="float: right;">
                                <h4 data-bind="text: Alignment"></h4>
                            </td>
                        </tr>
                    </table>

                    <!--player hp numbered-->
                    <div style="float:left; font-size:15pt; font-weight:500; line-height:35px; padding-right:20px; min-width:100px;">
                        <span data-bind="text: obCurHp"></span>/<span data-bind="text: obMaxHp"></span>
                    </div>
                    <!--player hp barred-->
                    <div class="progress" style="width: 50%; height: 35px; float:left">
                        <div class="progress-bar" style="float:left;" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-bind="text: $root.getHpPercentage($data) + '%', attr:{class: 'progress-bar ' + $root.hpClass($data)}, style:{width: $root.getHpPercentage($data) + '%'}"></div>
                    </div>
                    <!--player hp modifier-->
                    <div class="input-group" style="padding-left:20px">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-danger" data-bind="click: $root.hpModeToggle" value="-" style="width: 35px; font-weight:900;" />
                        </span>
                        <input style="width:70px" type="text" class="form-control" data-bind="attr: {id: 'inModHP' + $index}, value: hpModAmt">
                        <span class="input-group-btn" style="float:left">
                            <input type="button" class="btn btn-default" data-bind="click: $root.hpModClick" value="Go" data-toggle="tooltip" title="Test" />
                        </span>
                    </div>

                    <table class="exp-info" style="width: 100%">
                        <tr>
                            <td>
                                <span data-bind="text: 'Level: ' + level()"></span>
                            </td>
                            <td>
                                <div class="progress progress-custom" style="width: 100%; margin-top: 20px;" data-toggle="tooltip" data-bind="attr: {title: $data.expText(), 'data-original-title': $data.expText()}">
                                    <div class="progress-bar progress-bar-custom " role="progressbar" data-bind="text: $root.getExpPercentage($data) + '%', style:{width: $root.getExpPercentage($data) + '%'}"></div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group" style="padding-left:20px">
                                    <input style="width:70px" type="text" class="form-control" data-bind="value: expModAmt">
                                    <span class="input-group-btn">
                                        <input type="button" class="btn btn-default" value="Go" data-bind="click: $root.expModClick" />
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div style="width: 50%; float: left;">
                        <label>The Good:</label>
                        <textarea class="form-control" rows="12" style="max-width: 95%;"></textarea>
                    </div>
                    <div style="width: 50%; float: right;">
                        <label>The Bad:</label>
                        <textarea class="form-control" rows="12" style="max-width: 100%;"></textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>