
@{
    ViewBag.Title = "Index";
    Layout = "~/Shared/_Layout1.cshtml";
}
<div class="Absolute-Center">
    <div class="btn-group">
        <button type="submit" class="btn btn-default" onclick="location.href='@Url.Action("DMRedirect", "Home")'">DM SERVICE</button>
        <button type="submit" class="btn btn-default" onclick="location.href='@Url.Action("SignOut", "Chat")'">PC SERVICE</button>
    </div>
</div>


<style>
    .Absolute-Center {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>